html {
    height: 100%;
}

:root {
    --font-color: #FFFFFF;
    --left-background: #444444;
    --right-background: #222222;
    --switch-img: url("./assets/modes.png");
}

:root[attribute='light'] {
    --font-color: #696969;
    --left-background: #FFE4B5;
    --right-background: #D2B48C;
}

body {
    display: flex;
    line-height: 1.15;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: Helevetica, sans-serif;
    color: var(--font-color);
}

.table {
    display: flex;
    width: 1127px;
    height: 595px;
    background-color: var(--left-background);
    border-radius: 40px;
}

.left-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
}

.info {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.info__avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 12px 10px 3px var(--right-background);
}

.info__name-employee {
    font-weight: bold;
    font-size: 38px;
    line-height: 44px;
    text-align: center;
    margin-top: 29px;
    margin-bottom: 0;
}

.info__position-employee {
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 23px;
    line-height: 23px;
    text-align: center;
}

.social__telegram, .social__github, .social__spotify {
    margin: 20px 7px 57px;
    width: 24px;
    height: 24px;
}

.CV__button {
    padding: 10px 30px;
    font-size: 17px;
    background: var(--left-background);
    color: var(--font-color);
    border: 3px solid var(--font-color);
    border-radius: 40px;
    margin-bottom: 0;
}

.CV__button-content {
    text-decoration: none;
    color: var(--font-color);
}

.CV__button:hover {
    border-color: #00da5f;
}

.CV__button-content:hover {
    color:deepskyblue;
}

.copyright {
    margin-top: 50px;
    font-weight: normal;
    font-size: 14px;
}

.right-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--right-background);
    width: 747px;
    border-radius: 40px;
    height: 100%;
}

.right-info__name-employee {
    margin-top: 26px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 62px;
}

.right-info__position-employee {
    margin: 0;
    font-weight: normal;
    font-size: 22px;
}

.theme {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 95%;
    left: 90%;
}


.theme__button {
    width: 31px;
    height: 31px;
    border: none;
    background-image: var(--switch-img);
    background-color: var(--right-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px 30px;
    cursor: pointer;
}

.theme__button:hover {
    animation: bounce 0.7s;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-100px);
    }
}

